td, th {
  border: 1px solid black;
  min-width: 100px;
}

caption {
  text-align: left;
}

header {
  background-color: darkolivegreen;
}

#userGuide {
  background-color: tomato;
}

#addStuff {
  background-color: antiquewhite;
}

#viewStuff {
  background-color: aquamarine;
}

#editStuff {
  background-color: cadetblue;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}